<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.kenasv.payment/menu.application.title">
        <item view="MyPaymentingView" title="msg://com.kenasv.payment.view.mypaymenting/myPaymentingView.title"/>
        <item view="User.list" title="msg://com.kenasv.payment.view.user/UserListView.title"/>
        <item view="Counter.list" title="msg://com.kenasv.payment.view.counter/counterListView.title"/>
        <item view="Houseroom.list" title="msg://com.kenasv.payment.view.houseroom/houseroomListView.title"/>
        <item view="Typepaymentreceipt.list"
              title="msg://com.kenasv.payment.view.typepaymentreceipt/typepaymentreceiptListView.title"/>
        <item view="Paymentreceipt.list"
              title="msg://com.kenasv.payment.view.paymentreceipt/paymentreceiptListView.title"/>
    </menu>
</menu-config>